<%- include('../parts/header') %>
<%- include('../parts/navbar') %>

<div class="container"> 
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item <%= page === 1 ? 'disabled' : ''%>">
                    <a class="page-link" href="?<%- new URLSearchParams({...conditions, page: page-1}) %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <% for(let i = 1; i <= totalPages; i++){ %>
                    <li class="page-item <%= i === page ? 'active' : ''%>"><a class="page-link" href="?<%- new URLSearchParams({...conditions, page: i}) %>"><%=i%></a></li>
                  <% } %>
                  <li class="page-item <%= page === totalPages ? 'disabled' : ''%>">
                    <a class="page-link" href="?<%- new URLSearchParams({...conditions, page: page+1}) %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>   
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"><i class="fas fa-trash"></i></th>
                        <th scope="col">#</th>
                        <th scope="col">姓名</th>
                        <th scope="col">生日</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">地址</th>
                        <th scope="col">手機</th>
                        <th scope="col"><i class="fas fa-pen"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i of rows){ %>
                    <tr>
                        <td><a href="/address-book/delete/<%= i.sid %>" onclick="return confirm('確定刪除<%= i.sid %>的資料嗎?')"><i class="fas fa-trash"></i></a></td>
                        <td><%= i.sid %></td>
                        <td><%= i.name %></td>
                        <td><%= i.birthday %></td>
                        <td><%= i.email %></td>
                        <td><%= i.address %></td>
                        <td><%= i.mobile %></td>
                        <td><a href="/address-book/edit/<%= i.sid %>/<%= page %>"><i class="fas fa-pen"></i></a></td>
                    </tr>
                    <% } %>                
                </tbody>          
            </table>
        </div>
    </div>
</div>

<%- include('../parts/scripts') %>
<%- include('../parts/footer') %>